<a href="https://colab.research.google.com/github/Kristine2811/CCINCOM_EXERCISES_COM23P/blob/main/Navarro_exercise6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 6

## Lists

1. Create a list

- The name of the new list should be  `month`

- The list should contain all the months in a year (January, February, March, April, May, June, July, August, September, October, November, December)

In [ ]:
months = ["January","February", " March", "April", "May","June","July", "August", "September", "October", "November","December" ]

print(months)

['January', 'February', ' March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

2. Display an element

- Display the fourth element 'April' in the `month` list

In [ ]:
# put your answer here
months = ["January","February", " March", "April", "May","June","July", "August", "September", "October", "November","December" ]

print(months[3])

April

3. Slice the list

- Use slicing to get the last 4 months of the year of (September, October, November, December) of the `month` list

In [ ]:
# put your answer here
months = ["January","February", " March", "April", "May","June","July", "August", "September", "October", "November","December" ]
last_four_months = months[8:]
print(last_four_months)

['September', 'October', 'November', 'December']

- Use slicing to get the first 4 months of the year (January, February, March, April) of the `month` list

In [ ]:
# put your answer here
months = ["January","February", " March", "April", "May","June","July", "August", "September", "October", "November","December" ]
first_four_months = months[:4]
print(first_four_months)

['January', 'February', ' March', 'April']

4. List Methods

- Get the size of the month list using the `len()` method

In [ ]:
# put your answer here
months = ["January","February", " March", "April", "May","June","July", "August", "September", "October", "November","December" ]
size_of_months_list = len(months)
print(size_of_months_list)

12

- Get the element with the largest value of the month list using `max()`

In [ ]:
# put your answer here
months = ["January","February", " March", "April", "May","June","July", "August", "September", "October", "November","December" ]
Largest_month = max(months)
print(Largest_month)

September

- Get the element with the smallest value of the month list using `min()`

In [ ]:
# put your answer here
months = ["January","February", " March", "April", "May","June","July", "August", "September", "October", "November","December" ]
Smallest_month = min(months)
print(Smallest_month)

 March

- Sort the months of the year by alphabetical order using the `sorted()` function

In [ ]:
# put your answer here
months = ["January","February", " March", "April", "May","June","July", "August", "September", "October", "November","December" ]
Sorted_months = sorted(months)
print(Sorted_months)

## Tuple

1. Create a tuple with only three elements, the elements are:

- Your month of birth in integers
- Your day of birth in integers
- Your year of birth in integers

Use tuple unpacking to directly assign the month, day, year variable to each elements in your tuple.

In [ ]:
# put your answer here
birth_tuple = (11, 28, 2004)

month, day, year = birth_tuple

print("Month", month)
print("Day", day)
print("Year", year)

Month 11
Day 28
Year 2004

## Set

1. The list below contains a number of a products of a computer store. Notice that there are duplicate values.

In [ ]:
products = ["laptop", "smartphone", "tablet", "mouse" ,"powerbank", "headphones", "laptop", "speakers", "printer", "monitor", "projector", "mouse", "keyboard"]

The difference between a list and a set is that a list allows duplicate values. One way to remove duplicates is to convert a list into a set.

Convert the `products` list into a set

In [ ]:
# put your answer here
products = ["laptop", "smartphone", "tablet", "mouse" ,"powerbank", "headphones", "laptop", "speakers", "printer", "monitor", "projector", "mouse", "keyboard"]

unique_products = set(products)

print(unique_products)

{'monitor', 'headphones', 'powerbank', 'projector', 'keyboard', 'smartphone', 'tablet', 'mouse', 'printer', 'laptop', 'speakers'}

2. Verify if "headphones" exists in the `products` set  using the `in` operator

In [ ]:
# put your answer here
products = {"tablet", "monitor", "headphones", "projector", "mouse", "keyboard", "printer", "smartphone", "laptop", "powerbank", "speakers"}

if "headphones" in products:
    print("Yes, 'headphones' exists in the products set.")
else:
    print("No, 'headphones' does not exist in the products set.")

Yes, 'headphones' exists in the products set.

## Dictionaries

1. Create a dictionary of your favorites

- Keys should be the type
- Values should be the sample from that type

Example:

food: friedchicken

color: blue

sport: badminton

drink: mangojuice

dessert: cheesetart

In [ ]:
# put your answer here

## Loops

1. Write a for loop to iterate all elements of the `month` list. Print each element for every iteration.

In [ ]:
# put your answer here
months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]

for month in months:
    print(month)

January
February
March
April
May
June
July
August
September
October
November
December

2. Write a for loop and add a condition to only display the elements in the `month` list that ends with "ber"

In [ ]:
# put your answer here
months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]

for month in months:
    if month.endswith("ber"):
        print(month)

September
October
November
December

3. Write a for loop and add a condition to only display the elements in the `month` list that does not end with "ber"

In [ ]:
# put your answer here
months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]

for month in months:
    if not month.endswith("ber"):
        print(month)

January
February
March
April
May
June
July
August

4. Write a for loop and use `range()` to display your firstname five times

In [ ]:
# put your answer here
firstname = "Kristine"

for _ in range(5):
    print(firstname)

Kristine
Kristine
Kristine
Kristine
Kristine

5. Write a for loop that iterates over the names list to create a usernames list.

To create a username for each name, make everything lowercase and replace spaces with underscores. Running your for loop over the list:

Example:

names = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", "Phoebe Buffay"]

should create a new list

usernames = ["joey_tribbiani", "monica_geller", "chandler_bing", "phoebe_buffay"]

In [ ]:
# put your answer here
names = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", "Phoebe Buffay"]

usernames = []

for name in names:
    username = name.lower().replace(" ", "_")
    usernames.append(username)

print(usernames)

['joey_tribbiani', 'monica_geller', 'chandler_bing', 'phoebe_buffay']

6. Write a while loop to iterate throught the `month` list

- Break the loop if the element ends with "ber"

In [ ]:
# put your answer here
month = ['January', 'February','March', 'April','May','June','July','August','September','October','November', 'December']

counter = 0
while counter < len(month):
  print(month[counter])
  counter = counter + 1
  if month[counter].find('ber') > 0:
    break

January
February
March
April
May
June
July
August

## Functions

1. Write a python function named population_density that takes two arguments, population and land_area, and returns a population density calculated from those values.

The population density can be calculated using this formula:

population_density = population/land_area

In [3]:
# put your answer here
def population_Density(population, land_area):
  return population/land_area

2. Write an `averagesteps()` function to compute the average the number of steps you take every day.

- The function should accept a list and compute the average of all elements inside the list

- Create a list with seven elements. The values in the list are your average steps your take everyday.

- Pass the list to the function and call the function

In [2]:
# put your answer here
def averagesteps(stepslist):
  sum = 0
  for i in stepslist:
    sum = sum + i
    average + sum/7
    return average